@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty

<h4>Add a new specialty</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  

  <input type="submit" value="Add new speciality" />
}
<p>@Html.ActionLink("Show all specialties", "Index")</p>